site_name: kmer-ord-docs
site_description: Read-level k-mer ordination for pre-assembly genome deconvolution
site_author: Frederik Deboever
site_url: https://FDBoever.github.io/kmer-ord-docs/

repo_name: FDBoever/kmer-ord
repo_url: https://github.com/FDBoever/kmer-ord
edit_uri: edit/main/docs/

theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red hat Mono
  logo: assets/overview.png
  favicon: assets/favicon.ico
  features:
    - navigation.footer
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - content.code.copy
  palette:
  #dark mode
  - scheme: slate
    toggle:
      icon: material/weather-sunny
      name: Dark mode
    primary: green
    accent: deep purple
  #light mode
  - scheme: default
    toggle:
      icon: material/weather-night
      name: Light mode
    primary: green
    accent: deep organe

nav:
  - Home: index.md
  - Installation: installation.md
  - Quickstart: quickstart.md

  - Concepts:
      - Overview: concept.md
      - K-mer manifolds: concepts/kmer_manifolds.md
      - Bin-then-assemble: concepts/bin_then_assemble.md

  - Tutorials:
      - Tutorials overview: tutorials.md

  - Figures:
      - Figures overview: figures/index.md

markdown_extensions:
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
  - search

copyright: Copyright &copy; 2025 Frederik De Boever